<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author/ID: 
Celina Vangstrup s3993395
Doan Tran Thien Phuc s3926377
Le Duy Quang s3912105
Gustav Joachim Elbroend s3995055
Damien Vincent Voelker s3995378
Acknowledgement: Celina's Assignment 1-->

<footer>
  <div class="footer">
    <a href="../about">About Us</a>
    <a href="../privacy">Privacy Policy</a>
    <a>&copy; 2023 Verus Watches</a>
  </div>
</footer>