<!-- ======== HEADER ================================ -->
<header>
  <div id="header-left">
    <!-- MAIN LOGO -->
    <!--TODO change to correct logo-->
    <a href="index.html"><img id="header-logo" src="/images/lazada-logo-icon.png" alt="Logo of Lazada"></a>
    <!-- WEBSITE NAME -->
    <!--TODO discuss final title for header-->
    <span id="header-title">Lazada</span>
  </div>
  <!-- NAVIGATION BAR -->
  <nav>
    <ul id="header-menu">
      <!-- MY ACCOUNT -->
      <li class="menu-item">
        <a href="">My Account</a>
      </li>
      <!-- LOGIN SUBMENU-->
      <li class="menu-item">
        <a href="">Login</a>
        <!--TODO  enter correct href for the submenu entries -->
        <ul class="sub-menu">
          <li><a href="">Login</a></li>
          <li><a href="">Register as Customer</a></li>
          <li><a href="">Register as Vendor</a></li>
          <li><a href="">Register as Shipper</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<!-- ======== HEADER ================================ -->