<header>
  <nav class="navbar">
      <img class="logo" src="images/logo.png" alt="business logo">
      <a href="#" class="toggle-button">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
      </a>
      <article class="navigation-links">
          <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="category.html">Categories</a></li>
              <li><a href="contact.html">Contact Page</a></li>
          </ul>

      </article>
  </nav>
</header>

<script>   

  const toggleButton = document.querySelector(".toggle-button");
  const navbarLinks = document.getElementsByClassName('navigation-links')[0];

  toggleButton.addEventListener('click', () => {
    navbarLinks.classList.toggle('active');
  });
  
  </script>
