<header>
  <nav class="navbar">
      <img class="logo" src="../images/logo.png" alt="business logo">
      <a href="#" class="toggle-button">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
      </a>
      <div class="navigation-links">
          <ul>
              <% if (role === 'Customer'){ %>
              <li><a href="/products">Products</a></li>
              <li><a href="/shoppingCart">Shopping Cart</a></li>
              <li><a href="/customerOrders">My Orders</a></li>
              <li><a href="/myAccount">My Account</a></li>
              <% } %>
              <% if (role === 'Vendor'){ %>
              <li><a href="/vendorProductView">My Products</a></li>
              <li><a href="/myAccount">My Account</a></li>
              <% } %>
              <% if (role === 'Shipper'){ %>
              <li><a href="/shipper">Orders</a></li>
              <li><a href="/myAccount">My Account</a></li>
              <% } %>
          </ul>

        </div>
  </nav>
</header>

<script>   

  const toggleButton = document.querySelector(".toggle-button");
  const navbarLinks = document.getElementsByClassName('navigation-links')[0];

  toggleButton.addEventListener('click', () => {
    navbarLinks.classList.toggle('active');
  });

  // function redirectProducts(){
  //   window.location.replace('/products');
  // }
  

  </script>
