<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author/ID: 
Celina Vangstrup s3993395
Doan Tran Thien Phuc s3926377
Le Duy Quang s3912105
Gustav Joachim Elbroend s3995055
Damien Vincent Voelker s3995378
Acknowledgement: ChatGPT to generate the text.-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="..\css\form.css">
    <link rel="stylesheet" type="text/css" href="..\css\style.css">
   
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <title>About us</title>
</head>

<body>
    <%- include ('partials/header') %>


    <main>

        <h1>About us!</h1>
    <section class="info card">
        <p>Welcome to TimeWise, your ultimate destination for exquisite timepieces! We are an online webshop dedicated
            to delivering a seamless and luxurious shopping experience for watch enthusiasts worldwide. With an
            extensive collection of watches from renowned brands, we are passionate about helping you find the perfect
            timepiece that suits your style and reflects your personality.

            At TimeWise, we believe that a watch is more than just a device for telling time; it is a symbol of
            elegance, craftsmanship, and timeless beauty. Our curated selection encompasses a diverse range of styles,
            from classic and sophisticated designs to modern and avant-garde creations. Whether you're seeking a sleek
            dress watch for formal occasions, a robust sports watch for your outdoor adventures, or a stylish everyday
            companion, we have something to cater to every taste and preference.

            Our commitment to quality is unwavering. We collaborate directly with trusted watchmakers and authorized
            dealers to ensure that each watch we offer is authentic, meticulously crafted, and backed by manufacturer
            warranties. We understand the significance of investing in a timepiece, and our team of watch experts is
            always available to provide you with personalized guidance and assistance throughout your shopping journey.
        </p>
    </section>

</main>
<%- include ('partials/footer') %>


</body>

</html>