<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author/ID: 
Celina Vangstrup s3993395
Doan Tran Thien Phuc s3926377
Le Duy Quang s3912105
Gustav Joachim Elbroend s3995055
Damien Vincent Voelker s3995378
Acknowledgement: ChatGPT to generate the text.-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="..\css\form.css">
    <link rel="stylesheet" type="text/css" href="..\css\style.css">

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <title>Privacy policy</title>
</head>

<body>
    <%- include ('partials/header') %>

        <main>
            <h1>Privacy Policy</h1>
            <section class="info card">
                <p>

                    At TimeWise, we are committed to protecting your privacy and ensuring the security of your personal
                    information. This Privacy Policy outlines how we collect, use, and safeguard the data you provide to
                    us through our online webshop. By accessing our website and utilizing our services, you consent to
                    the practices described in this policy.
                </p>

                <p>
                    1. Information Collection:
                    - Personal Information: When you make a purchase or create an account on our website, we may collect
                    certain personal information, such as your name, email address, shipping address, and payment
                    details. This information is necessary for order processing and delivery.
                    - Website Usage Data: We may gather non-personal information, including your IP address, browser
                    type, referring/exit pages, and operating system, to analyze trends, administer the site, and track
                    user behavior. This information helps us enhance our website's functionality and user experience.

                </p>

                <p>
                    2. Use of Information:
                    - Order Fulfillment: We use the personal information you provide to process and deliver your orders,
                    update you on the status of your purchases, and provide customer support related to your
                    transactions.
                    - Personalization: We may use your information to personalize your shopping experience, recommend
                    products based on your preferences, and send you promotional offers, newsletters, and marketing
                    communications (with your consent).
                    - Internal Analysis: We may use the collected data for internal research, analysis, and improvement
                    of our products, services, and website performance.
                    - Legal Compliance: We may disclose personal information to comply with applicable laws,
                    regulations, legal processes, or enforceable government requests.

                </p>
                <p>
                    3. Data Protection:
                    - Security Measures: We employ industry-standard security measures to protect your personal
                    information from unauthorized access, disclosure, alteration, or destruction. This includes secure
                    socket layer (SSL) technology for data encryption during transmission and secure storage of your
                    data on our servers.
                    - Third-Party Services: We may use trusted third-party services to assist in operating our business,
                    such as payment processors and shipping companies. These entities have their own privacy policies
                    and are responsible for the information they process.
                </p>
                <p>
                    4. Cookies and Tracking Technologies:
                    - Cookies: Our website uses cookies and similar tracking technologies to enhance your browsing
                    experience, remember your preferences, and collect information about your interactions with our
                    site. You can modify your browser settings to control cookies or opt-out of certain tracking
                    technologies.
                </p>
                <p>
                    5. Third-Party Links:
                    - Our website may contain links to third-party websites. We are not responsible for the privacy
                    practices or content of such sites. We encourage you to review their respective privacy policies
                    before providing any personal information.
                </p>
                <p> 7. Updates to Privacy Policy:
                    - We reserve the right to update or modify this Privacy Policy at any time. Any changes will be
                    effective immediately upon posting the revised policy on our website. It is your responsibility to
                    review this policy periodically.
                </p>
                <p>
                    If you have any questions or concerns about our Privacy Policy or the handling of your personal
                    information, please contact us. We are dedicated to addressing any inquiries and resolving any
                    issues to ensure your privacy is protected. 
                </p>

            </section>

        </main>
        <%- include ('partials/footer') %>


</body>

</html>