<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..\css\registration.css">
    <title>Register Customer</title>
</head>

<body>
    <main>
        <h1>Customer Registration: </h1>
        <section class="registration-form">
            <form class="registration" action="/registerCustomer" method="post" id="registerCustomer-form">
                <fieldset>
                    <div class="input-section">
                        <div class="info-box">
                            <label for="username">&#8505;&#65039; Username:
                                <span class="tooltip">Must consist of only letters (lower and upper case) and digits.
                                    Length from 8 to 15 characters</span>
                            </label>
                        </div>
                        <input type="text" id="username" name="username" required pattern="^[A-Za-z0-9]{8,15}$">
                    </div>
                    <div class="input-section">
                        <div class="info-box">
                            <label for="password">&#8505;&#65039; Password:
                                <span class="tooltip">Password must have at least one upper case letter, at least one
                                    lower case letter, at least one digit, at least one special letter in the set
                                    !@#$%^&*, NO other kind of characters. Length from 8 to 20 characters.</span>
                            </label>
                        </div>
                        <input type="password" id="password" name="password" required minlength="8" maxlength="20">
                    </div>
                    <div class="input-section">
                        <div class="info-box">
                            <label for="profile-picture">&#8505;&#65039; Profile Picture:
                                <span class="tooltip">Upload profile picture</span>
                            </label>
                        </div>
                        <input type="file" id="profile-picture" name="profile-picture">
                    </div>
                    <div class="input-section">
                        <div class="info-box">
                            <label for="name">&#8505;&#65039; Name:
                                <span class="tooltip">Name must be of at least 5 characters.</span>
                            </label>
                        </div>
                        <input type="text" id="name" name="name" required minlength="5">
                    </div>
                    <div class="input-section">
                        <div class="info-box">
                            <label for="address">&#8505;&#65039; Address:
                                <span class="tooltip">Name must be of at least 5 characters.</span>
                            </label>
                        </div>
                        <textarea id="address" name="address"></textarea>
                    </div>
                    <div class="input-section">
                        <input type="submit" value="Register" id="registerCustomer-btn">
                    </div>
                </fieldset>
            </form>
        </section>
    </main>
    <script src="..\js\valCustomerReqForm.js"></script>

</body>

</html>