

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #212221;
}

footer a {
  text-decoration: underline;
  color: #595962;
  padding: 5px;
}