/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author/ID: 
Celina Vangstrup s3993395
Doan Tran Thien Phuc s3926377
Le Duy Quang s3912105
Gustav Joachim Elbroend s3995055
Damien Vincent Voelker s3995378
Acknowledgement: RMIT Lecture Slide*/

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #212221;
}

footer a {
  text-decoration: underline;
  color: #595962;
  padding: 5px;
}