/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author/ID: 
Celina Vangstrup s3993395
Doan Tran Thien Phuc s3926377
Le Duy Quang s3912105
Gustav Joachim Elbroend s3995055
Damien Vincent Voelker s3995378
Acknowledgement: RMIT Lecture Slide*/

nav{
  background-color: rgb(8, 8, 41);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  
}

header{
  top: 0;
  position: sticky;
  z-index: 50;

}

.logo{
  height: 80px;
  width: 80px;
  margin: 5px;

}

.navigation-links{
  padding: 24px 0;
  margin-right: 150px;
  
}

.navigation-links li {
  display: inline-block;
  margin: 0 15px;
}

.navigation-links li a{
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
  position: relative;
  text-decoration: none;
}

.navigation-links li a::after{
  content: '';
  background: white;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}

.navigation-links li a:hover::after{
  width: 100%;
}


.toggle-button{
position: absolute;
top: 1.75rem;
right: 2rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 40px;
height: 31px;
}

.toggle-button .line{
height: 4px;
width: 100%;
background-color: white;
border-radius: 10px;

}

@media (max-width: 960px) {
  .toggle-button{
    display: flex;
  }



  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }


  .navigation-links {
    padding-top: 0;
    padding-bottom: 20px;
    width: 100%;
    flex-direction: column;
    display: none;
  }

  .navbar ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    
  }


  .navigation-links li {
    text-align: center;
    padding-top: .5rem;

  }

    .navigation-links.active {
      display: flex;
  }

}