 .box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(220, 212, 212);
    width: 60%;
    align-self: center;
    border-radius: 8px;
 }

 .section{
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .grey-background{
    background-color: rgb(197, 189, 189);
    padding: 20px;
    border-radius: 8px;
    width: 100% !important;
    margin: 10px 0 !important;
 }

 #edit-profile-pic-box button{
    margin: 5px;
 }


 @media screen and (min-width: 768px) and (max-width: 1023px) {
   .box{
      flex-direction: column;
      width: 100%;
      align-items: center;
  }

  .grey-background{
      max-width: 100%;
      
      
  }
 }

 @media screen and (max-width: 767px) {
   .box{
      flex-direction: column;
      width: 100%;
      align-items: center;

  }

  .grey-background{
      max-width: 100%;
  }
 }

#open-edit-menu-button{
   width: 250px;
}

#profile-pic-upload{
   width: 250px;
}

#edit-profile-pic-box{
   display: flex;
   flex-direction: column;
   align-items: center;
}

span {
   font-size: 18px;
}


