* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}



body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;

}

.container {
    margin: 0 auto;
    padding: 20px;
}



.product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product .images {
    max-width: 100%;
    margin-right: 30px;
}

.product .details {
    max-width: 35%;
}

.product .price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product .description {
    margin-bottom: 20px;
}

.product .add-to-cart {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.product .add-to-cart:hover {
    background-color: #3E8E41;
}

.thumbnails {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.thumbnails img {
    max-width: 25%;
    padding-right: 5px;
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
    .product .images {
        width: 50%;
        margin-right: 20px;
    }

    .product .details {
        width: 100%;
    }

    .description {
        width: 100%;
    }
}

/* Smartphone Styles */
@media (max-width: 767px) {
    .product .images {
        width: 100%;
        margin-bottom: 20px;
    }

    .product .details {
        width: 100%;
    }
    .description {
        width: 100%;
    }
}