/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author/ID: 
Celina Vangstrup s3993395
Doan Tran Thien Phuc s3926377
Le Duy Quang s3912105
Gustav Joachim Elbroend s3995055
Damien Vincent Voelker s3995378
Acknowledgement: RMIT Lecture Slide*/

.info-box {
    display: inline-block;
    padding: 1px;
    position: relative;
}

.registration input[type="submit"] {
    justify-self: center;
    width: 100%;
} 

.tooltip {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -140px;
    padding: 5px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
}

.info-box:hover .tooltip {
    display: block;
    width: 250px;
}


#error-message{
    text-align: center;
    white-space: pre;
}

@media (max-width: 768px) {
    .input-section {
        display: flex;
        flex-direction: column;
    }

    .registration input,
    .registration textarea {
        display: inline-block;
        padding: 4px;
        margin: 5px;
        width: 95.57%;
    }
}