h1 {
    text-align: center;
}

.registration-form {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.registration {
    margin-top: 20px;
    margin: 10px;
}

.registration label {
    display: inline-block;
    text-align: left;
    width: 170px;
    padding: 4px;
    margin: 5px;
}

.registration input,
.registration textarea {
    display: inline-block;
    padding: 4px;
    margin: 5px;
    width: 100%;
}

.registration .info-box {
    display: inline-block;
    padding: 4px;
    margin: 5px;
    position: relative;
}

.registration input[type="submit"] {
    justify-self: center;
    width: 100%;
}

.tooltip {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -140px;
    padding: 5px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
}

.info-box:hover .tooltip {
    display: block;
    width: 250px;
}

.input-section {
    display: flex;
    flex-direction: row;
}

.input-section select {
    width: 100%;
    padding: 4px;
    margin: 5px;
}

#error-message{
    text-align: center;
    white-space: pre;
}

@media (max-width: 768px) {
    .input-section {
        display: flex;
        flex-direction: column;
    }

    .registration input,
    .registration textarea {
        display: inline-block;
        padding: 4px;
        margin: 5px;
        width: 95.57%;
    }
}