* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    padding-bottom: 64px;

    position: relative;

}

a {
    color: black;
    text-decoration: none;
}

button {
    background-color: #2f312f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 15px;
    margin: 0px 0px;
    font-size: 20px;
}

button.red {
    background-color: red !important;
}

button.green {
    background-color: #4CBB17;
}

button.red:hover{
    background-color: rgb(189, 75, 75) !important;
}

button:hover {
    background-color: silver;
}

.details h2 {
    margin: 10px 0px;
}

.details p {
    margin: 10px 0px;
}

.margin-bottom-5 {
    margin-bottom: 25px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.center-text {
    text-align: center;
}

.padding-top-20 {
    padding-top: 20px;
}

.bold {
    font-weight: bold;
}

.wrap {
    flex-wrap: wrap;
}

.info {
    background-color: #2f312f;

}

.info p {
    padding: 10px 40px 40px 40px;
    text-align: center;
    line-height: 2;
    color: silver;
}

.succes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white {
    color: white;
}

.margin-top-10 {
    margin-top: 10px;
}

/* --------- SMARTPHONE TWEAKS ----------- */
@media only screen and (max-width: 767px) {
    body {
        padding-bottom: 80px;
    }

    .info p {
        padding: 10px;
    }
}